{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des livres</h1>

    {% if books is not empty %}
        <ul class="list-group">
            {% for book in books %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ path('app_admin_book_show', {id: book.id}) }}" class="link-dark">
                        {{ book.title }}
                    </a>
                    <small class="text-muted">ID : {{ book.id }}</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun livre trouvé.</p>
    {% endif %}
</div>
{% endblock %}
